{{#each this}}
  <div class="card">
    <div class="card-body">
      <h2 class="country__name">{{name}}</h2>
      <p class="capital">Capital: {{capital}}</p>
      <p class="population">Population: {{population}}</p>
      <ul class="languages">
        {{#each this.languages}}
        <li class="lang-item">{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="card-flag">
      <img src="{{flag}}" alt="{{name}}" width=" 200" height="200">
    </div>
  </div>
{{/each}}

capital
population
languages
flag
